In [1]:
x = "hola, mu Name"

In [2]:
type(x)

str

In [4]:
y = '''
you,im so fool to work with you

'''

In [6]:
type(y)

str

In [9]:
def vat():
    pass

In [8]:
vat()

In [13]:
name = input("Enter your name")

Enter your nameQwer

In [14]:
"hello {}, how are you".format(name)

'hello Qwer, how are you'

In [16]:
name = "Bilal"
age  = 23

In [17]:
f"hello {name} , whatsupp dude,are you {age} years old"

'hello Bilal , whatsupp dude,are you 23 years old'

In [19]:
# mutable vs imutable

In [20]:
# str,int,float---->immutable
# lsit, dic-----mutable

In [28]:
name = 'Lion'

In [22]:
# Slicing

In [30]:
name[1:3]

'io'

In [25]:
a = "ABCDEF"

In [32]:
s = "Apple"

In [36]:
s[1] = 'x'

TypeError: 'str' object does not support item assignment

In [41]:
c = s.replace('A','x')

In [42]:
print("orig str:",s,"new copy str:",c)

orig str: Apple new copy str: xpple

In [43]:
type(s)

str

In [46]:
s = "This,is,woorkbook,of Thanos"

In [48]:
s.split(",")

['This', 'is', 'woorkbook', 'of Thanos']

In [49]:
q = "         Happy  "
w = "Sad       "

In [52]:
q

'         Happy  '

In [57]:
q  =q.strip()

In [149]:
import pandas as pd

In [58]:
q

'Happy'

In [59]:
q.lower()

'happy'

In [60]:
q.upper()

'HAPPY'

In [61]:
lst =  [1,2,3,4,4,6,6,7]

In [62]:
type(lst)

list

In [63]:
str(lst)

'[1, 2, 3, 4, 4, 6, 6, 7]'

In [64]:
"1 2 3 4 5"

'1 2 3 4 5'

In [67]:
lst = ['a','b','c','d']

In [76]:
lst =  [1,2,3,4,4,6,6,7]
type(lst[0])

int

In [74]:
" ".join(map(str,lst))

'1 2 3 4 4 6 6 7'

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [78]:
# read and writes files

In [146]:
with open('q.txt','r+',encoding='utf-8') as f:
    x = f.read()
    print(x)
#     curs_val = x.find('angles')
#     f.seek(curs_val)
#     print()
#     f.write("Apple")

In [148]:
x.find('angles')

334

In [147]:
with open('q.txt','r+',encoding='utf-8') as f:
    x = f.read()
    print(x)

KARACHI: Sindh Chief Minister Syed Murad Ali Shah has said that the economic conditions have a role in worsening law and order in city, ARY News reported on Saturday.

“We are also concerned over the worsening law and order in Karachi,” talking to media here CM Shah said.

“The journalist’s murder is being investigated from various angles,” talking on Friday’s murder of a journalist, Athar Mateen Sindh chief minister said.Apple

In [101]:
x  = 'this is my book , you know about my book'
x.find("book")

11

In [163]:
with open('q.txt','r',encoding='utf-8') as f:
    x = f.read()
    curs_value = x.find('angles')
    curs_value = curs_val + 6
    f.close()
    
with open('q.txt','w+',encoding='utf-8') as k:
    k.seek(curs_value)
    print(k.tell())
    k.write("Apple")
    print(k.tell())

340
345